:host {
  //background: var(--toolbar-background);
  background: white;
  box-shadow: inset 0px -1px 0px #E8E9EE;
  box-sizing: border-box;
  color: var(--toolbar-color);
  display: block;
  white-space: nowrap;
  width: 100%;
  z-index: var(--toolbar-z-index);
}

.toolbar {
  //height: var(--toolbar-height);
  height: 8vh;
}

.mat-icon {
  //color: var(--toolbar-icon-color);
  color: #6A7186;
}

a {
  color: var(--toolbar-color);
  text-decoration: none;
}

::ng-deep .mat-menu-panel {
  min-width: 55px !important;
}

.login {
  background-color: #F6F7F9;
}

.img-size1 {
  margin-top: 14%;
  height: 20px;
}

@media (max-width: 767px) {

  .login {
    background-color: #F6F7F9;
    height: 40px;
    min-width: 40px
  }

  .img-size1 {
    margin-top: 39% !important;
    height: 22px !important;

  }
  #login {
    display: none;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .toolbar {
    //height: var(--toolbar-height);
    height: 5vh;
  }

}

