.white-bg {
  background-color: #FFFFFF;
}

.white-fg {
  color: #FFFFFF;
}

.lnk-100-bg {
  background-color: #F6F7F9;
}

.lnk-100-fg {
  color: #F6F7F9;
}

.lnk-200-bg {
  background-color: #E8E9EE;
}

.lnk-200-fg {
  color: #E8E9EE;
}

.lnk-300-bg {
  background-color: #CED1D9;
}

.lnk-300-fg {
  color: #CED1D9;
}

.lnk-400-bg {
  background-color: #AEB3C1;
}

.lnk-400-fg {
  color: #AEB3C1;
}

.lnk-500-bg {
  background-color: #9399AB;
}

.lnk-500-fg {
  color: #9399AB;
}

.lnk-600-bg {
  background-color: #7D8499;
}

.lnk-600-fg {
  color: #7D8499;
}

.lnk-700-bg {
  background-color: #6A7186;
}

.lnk-700-fg {
  color: #6A7186;
}

.lnk-800-bg {
  background-color: #565D73;
}

.lnk-800-fg {
  color: #565D73;
}

.lnk-900-bg {
  background-color: #444B5F;
}

.lnk-900-fg {
  color: #444B5F;
}

.lnk-1000-bg {
  background-color: #32384A;
}

.lnk-1000-fg {
  color: #32384A;
}

.lnk-1100-bg {
  background-color: #282D3E;
}

.lnk-1100-fg {
  color: #282D3E;
}

.lnk-1200-bg {
  background-color: #1C202C;
}

.lnk-1200-fg {
  color: #1C202C;
}

.pineapple-bg {
  background-color: #563A0F;
}

.pineapple-fg {
  color: #563A0F;
}

.blue-blue-bg {
  background-color: #1946BF;
}

.blue-blue-fg {
  color: #1946BF;
}

.alpine-green-bg {
  background-color: #006351;
}

.alpine-green-fg {
  color: #006351;
}

.harlocks-cape-bg {
  background-color: #B90404;
}

.harlocks-cape-fg {
  color: #B90404;
}

.brand-blue-bg {
  background-color: #002A47;
}

.brand-blue-fg {
  color: #002A47;
}

.warrant-bg {
  background-color: #B9966E;
}

.warrant-fg {
  color: #B9966E;
}

.fennel-flower-bg {
  background-color: #81A9F4;
}

.fennel-flower-fg {
  color: #81A9F4;
}

.silver-tree-bg {
  background-color: #63C191;
}

.silver-tree-fg {
  color: #63C191;
}

.apple-valley-bg {
  background-color: #EA8684;
}

.apple-valley-fg {
  color: #EA8684;
}

.burst-of-gold-bg {
  background-color: #DAB267;
}

.burst-of-gold-fg {
  color: #DAB267;
}

.grams-hair-bg {
  background-color: #F4FAF7;
}

.grams-hair-fg {
  color: #F4FAF7;
}

.ivory-tower-bg {
  background-color: #FBF3F2;
}

.ivory-tower-fg {
  color: #FBF3F2;
}






